@import url(https://fonts.google.com/specimen/Josefin+Sans);

.light {
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(
    to bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.dark {
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue2: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue1: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
  --image-mobile-dark: url(/images/bg-mobile-dark.jpg);
  --bright-blue: hsl(220, 98%, 61%);
  --linear-gradient1: hsl(192, 100%, 67%);
  --linear-gradient2: hsl(280, 87%, 65%);
  --check-background: linear-gradient(
    to bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

header {
  border: 1px solid transparent;
  height: 35vh;
  width: 100%;
  background-image: var(--image-mobile-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  max-width: 375px;
  margin: 0 auto;
  margin-top: 3.3rem;
}
.inputSection {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 18px;
  font-weight: 700;
}
#sun {
  height: 18px;
  width: 18px;
}
#taskForm {
  margin-top: 2.3rem;
  background-color: var(--very-dark-desaturated-blue);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.inputCircle {
  border: 1px solid var(--very-dark-grayish-blue);
  width: 17px;
  height: 17px;
  margin: 1rem 0 1rem 1rem;
  border-radius: 50%;
}

#enterTask {
  width: 90%;
  padding: 13px;
  background-color: var(--very-dark-desaturated-blue);
  outline: none;
  border: none;
  color: var(--light-grayish-blue);
  font-size: 13px;
  font-weight: 400;
}
.taskList {
  background-color: var(--very-dark-desaturated-blue);
  max-width: 375px;
  margin: -2rem auto;
  border-radius: 4px;
  cursor: pointer;
}

.tasklist-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--very-dark-grayish-blue);
  padding: 0.9rem;
}
.checkMark {
  border: 1px solid var(--very-dark-grayish-blue);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: relative;
  margin-left: 0.5rem;
}
.checkMark:hover {
  width: 17px;
  height: 17px;
  border: double 1.5px transparent;
  border-radius: 80px;
  background-image: linear-gradient(
      var(--very-dark-desaturated-blue),
      var(--very-dark-desaturated-blue)
    ),
    radial-gradient(
      circle at top left,
      var(--linear-gradient1),
      var(--linear-gradient2)
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.checkIcon {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%);
  display: none;
}
#task {
  flex: 1;
  margin-left: 0.9rem;
  font-size: 13px;
  color: var(--light-grayish-blue);
  text-decoration: line-through;
}
.deleteItem {
  width: 13px;
  height: 13px;
  margin: auto;
  margin-right: 0.5rem;
  font-family: 700;
}
.itemLeft {
  /* border: 2px solid red; */
  max-width: 375px;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  color: var(--very-dark-grayish-blue1);
  background-color: var(--very-dark-desaturated-blue);
  font-size: 13px;
  font-weight: 500;
  /* z-index: -7; */
}

.taskStatus {
  /* border: 2px solid red; */
  max-width: 375px;
  margin: -1rem auto;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--very-dark-desaturated-blue);
}
.taskStatusItem {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 13px;
  color: var(--very-dark-grayish-blue1);
  font-weight: 550;
  cursor: pointer;
}
.taskStatusItem:hover {
  color: var(--bright-blue);
}
