// Primary Colors
$bright-blue: hsl(220, 98%, 61%);
$check-background: linear-gradient(
  to bottom,
  hsl(192, 100%, 67%),
  hsl(280, 87%, 65%)
);

// Light Themes

$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue: hsl(233, 11%, 84%);
$dark-grayish-blue: hsl(236, 9%, 61%);
$very-dark-grayish-blue: hsl(235, 19%, 35%);
// $background-image-mobile-light:
// $background-image-desktop-light:

// Dark Themes

$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue: hsl(234, 39%, 85%);
$light-grayish-blue: hsl(236, 33%, 92%); //(hover)
$dark-grayish-blue: hsl(234, 11%, 52%);
$very-dark-grayish-blue: hsl(233, 14%, 35%);
$very-dark-grayish-blue: hsl(237, 14%, 26%);
$background-image-mobile-dark: url(./images/bg-mobile-dark.jpg);
// $background-image-desktop-dark:
