@import "config";
@import "utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

// Header
header {
  border: 2px solid wheat;
  height: 35vh;
  width: 100%;
  // background: $background-image-mobile-dark;
  // background-color: rebeccapurple;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  main {
    max-width: 375px;
    margin: 0 auto;
    margin-top: 3.3rem;

    .inputSection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h1 {
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 18px;
        font-weight: 700;
      }
      #sun {
        height: 18px;
        width: 18px;
      }
    }

    #taskForm {
      // border: 2px solid red;
      margin-top: 2.3rem;
      background-color: $very-dark-desaturated-blue;
      border-radius: 4px;
      display: flex;
      flex-direction: row;

      .inputCircle {
        border: 1px solid $very-dark-grayish-blue;
        width: 17px;
        height: 17px;
        margin: 1rem 0 1rem 1rem;
        border-radius: 50%;
        // display: none;
      }

      #enterTask {
        width: 90%;
        padding: 13px;
        background-color: $very-dark-desaturated-blue;
        outline: none;
        border: none;
        color: $light-grayish-blue;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}
.taskList {
  // border: 2px solid red;
  // margin-top: -3rem;
  background-color: $very-dark-desaturated-blue;
  max-width: 375px;
  margin: -2rem auto;
  border-radius: 4px;
  // padding: 13px;

  .tasklist-item {
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $very-dark-grayish-blue;
    padding: 0.5rem;
  }
  .checkMark {
    // border: 2px solid red;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: relative;
    // padding: 5px;
    background: $check-background;
  }
  #checkIcon {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%);
  }
}

//  .collection-item {
//     list-style: none;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     border-bottom: 1px solid #bebebe;
//     padding: 0.5rem;
//   }
// li:last-child {
//     border-bottom: none;
//   }
