@import "config";
@import "utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

// Header
header {
  border: 2px solid wheat;
  height: 35vh;
  width: 100%;
  // background: $background-image-mobile-dark;
  // background-color: rebeccapurple;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  main {
    max-width: 375px;
    margin: 0 auto;
    margin-top: 3.3rem;

    .inputSection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h1 {
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 18px;
        font-weight: 700;
      }
      #sun {
        height: 18px;
        width: 18px;
      }
    }

    #taskForm {
      // border: 2px solid red;
      margin-top: 2.3rem;
      background-color: $very-dark-desaturated-blue;
      border-radius: 4px;
      display: flex;
      flex-direction: row;

      .inputCircle {
        border: 1px solid $very-dark-grayish-blue;
        width: 17px;
        height: 17px;
        margin: 1rem 0 1rem 1rem;
        border-radius: 50%;
        // display: none;
      }

      #enterTask {
        width: 90%;
        padding: 13px;
        background-color: $very-dark-desaturated-blue;
        outline: none;
        border: none;
        color: $light-grayish-blue;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}
.taskList {
  background-color: $very-dark-desaturated-blue;
  max-width: 375px;
  margin: -2rem auto;
  border-radius: 4px;
  cursor: pointer;

  .tasklist-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $very-dark-grayish-blue;
    padding: 0.75rem;
  }
  .checkMark {
    border: 1px solid $very-dark-grayish-blue;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: relative;
    // background: $check-background;
    margin-left: 0.5rem;
    // opacity:
  }
  .checkMark:hover {
  }

  .checkIcon {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%);
    display: none;
  }
  #task {
    flex: 1;
    margin-left: 0.9rem;
    font-size: 13px;
    color: $light-grayish-blue;
  }

  .deleteItem {
    // border: 2px solid blue;
    width: 13px;
    height: 13px;
    margin: auto;
    margin-right: 0.5rem;
    font-family: 700;
  }
}
.itemLeft {
  // border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75rem;
  color: $very-dark-grayish-blue1;
  font-size: 13px;
  font-weight: 500;
}

.taskStatus {
  // border: 2px solid red;
  max-width: 375px;
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 0.75rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $very-dark-desaturated-blue;

  .taskStatusItem {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 13px;
    color: $very-dark-grayish-blue1;
    font-weight: 550;
    cursor: pointer;
  }
  .taskStatusItem:hover {
    color: $bright-blue;
  }
}
